<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disaster Response Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Disaster Response Project</h1>
            <p class="lead">Analyzing message data for disaster response.</p>
            <hr class="my-4">
            <p>Enter a message to classify:</p>
            <form action="/go" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="query" placeholder="Enter a message">
                    <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 10px;">Classify Message</button>
                </div>
            </form>
        </div>

        <!-- Visualization Section -->
        {% for id in ids %}
            <div id="{{id}}"></div>
        {% endfor %}
    </div>

    <!-- Plotly Graphs -->
    <script type="text/javascript">
        var graphs = {{ graphJSON | safe }};
        var ids = {{ ids | safe }};
        for (var i = 0; i < graphs.length; i++) {
            Plotly.newPlot(ids[i], graphs[i].data, graphs[i].layout);
        }
    </script>
</body>
</html>
